<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    {{>head}}

    <style>
        #settingMiddle{
            min-height:36px;
            border:1px solid #ddd;
            background: white;
        }
        #settingMiddle:hover{
            min-height:36px;
            border:1px solid #ddd;
            background:rgba(26, 188, 156, 0.15);
            color:#1abc9c;
        }

        #settingTop{
            min-height:36px;
            border:1px solid #ddd;
            border-top-left-radius:12px;
            border-top-right-radius:12px;
            background: white;

        }
        #settingTop:hover{
            min-height:36px;
            border:1px solid #ddd;
            background:rgba(26, 188, 156, 0.15);
            border-top-left-radius:12px; 
            border-top-right-radius:12px;
            color:#1abc9c;
        }

        #settingBottom{
            min-height:36px;
            border:1px solid #ddd;
            border-bottom-left-radius:12px;
            border-bottom-right-radius:12px;
            background: white;

        }
        #settingBottom:hover{
            min-height:36px;
            border:1px solid #ddd;
            background:rgba(26, 188, 156, 0.15);
            border-bottom-left-radius:12px; 
            border-bottom-right-radius:12px;
            color:#1abc9c;
        }
    </style>
  </head>


  <body ng-app="PubSavvySwipe" ng-controller="AccountController"  ng-init="init()">


    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">

        <!-- Start header Section-->
        <section style="background-image: url({{randomBackground}});" class="header-section fading-title parallax">
            <div class="section-shade sep-top-5x sep-bottom-3x">
                <div class="container">
                    <div class="section-title upper light">
                        <h2 class="small-space"><img style="width:80px;height:80px;border-radius:40px;border:2px solid #ddd; margin-right:24px;" src="{{profile.image}}">Manage<span class="text-primary"> Account</span></h2>
                        <p class="lead" style="margin-bottom:20px; margin-top:24px;">Here you can manage your account information and your stored data.</p>
                    </div>
                </div>
            </div>
        </section>
      <!-- End header Section-->

        <div class="container">
            <!-- START SETTING DIVS -->
            <div class="col-md-9 col-md-push-3 sep-top-2x">


                <!-- Start ACCOUNT INFORMATION -->
                <div ng-show="section == 'account-information'" style="padding-left:24px; padding-right:24px; margin-top:24px; min-height:216px"> 


                    <h5><i class="fa fa-user fa-lg" style="margin-right:12px;"></i><span class="text-primary">Account Information</span></h5>
                    <div style="padding:12px">

                        <div style="min-height:120px; margin-bottom:36px;" class ="section" ng-file-drop="onFileSelect($files, 'image', 'profile')">
                            
                            <p> <img style="width:120px;height:120px;border-radius:60px;border:2px solid #ddd; margin-right:20px" src="{{profile.image}}" align="left"><br>To update your profile <br>drag and drop it here <br></p>
                            <br>
                        </div>

                        First Name:<br>
                        <input ng-model="profile.firstName" type="text" placeholder="First Name" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                        Last Name:<br>
                        <input ng-model="profile.lastName" type="text" placeholder="Last Name" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                        Specialty:<br>
                        <input ng-model="profile.specialty" type="text" placeholder="Specialty" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                    </div>                    


                    <h5><i class="fa fa-envelope fa-lg" style="margin-right:12px;"></i><span class="text-primary">Contact Information</span></h5>
                    <div style="padding:12px">
                        Email:<br>
                        <input ng-model="profile.email" type="text" placeholder="Email" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                        Phone Number:<br>
                        <input ng-model="profile.phone" type="text" placeholder="(###) - ### - ####" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                    </div>


                    <h5><i class="fa fa-lock fa-lg" style="margin-right:12px;"></i><span class="text-primary">Update Password</span></h5>

                    <div style="padding:12px">
                        New Password:<br>
                        <input ng-model="newPassword" type="password" placeholder="New Password" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                        Confirm Password:<br>
                        <input ng-model="confirmPassword" type = "password" placeholder = "New Password" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                    </div>

                    <br>
                    <br>
                    <div style="width:194px; margin:auto;">
                <button ng-click="update()" class="btn btn-success btn-large" align="center"><i class="fa fa-check-circle-o"></i> Update Profile</button><br /><br />
            </div>
                </div>
                <!-- END ACCOUNT INFORMATION -->



                <!-- Start SEARCH HISTORY  -->
                <div ng-show="section == 'search-history'" style="padding-left:24px; padding-right:24px; margin-top:24px; min-height:216px; margin-bottom:60px;"> 
                    <h5><i class="fa fa-search fa-lg" style="margin-right:12px;"></i><span class="text-primary">Search History</span></h5>
                    
                    <table style="width:100%">
                        <tr style="border-bottom: 2px solid #ccc;">
                            <th style="width:50%;">Term</th>
                            <th style="width:20%; text-align:center">Result Count</th>     
                            <th style="width:30%; text-align:right; padding-right:12px">View Results</th>
                        </tr>
                        <tr ng-repeat = "(key, value) in device.searchHistory track by $index" >
                            <td>{{key}}</td>
                            <td align="center"><span class="badge">{{formatNumber(value['count'])}}</span></td>
                            <td><button ng-click="redirect(key)" type="button" class="btn btn-primary btn-xs" style= "margin:12px; float:right"><i style="width:24px;"class="fa fa-search fa-lg" style="margin-right:12px;"></i> Search</button></td>
                        </tr>
                    </table>


                </div>
                <!-- END SEARCH HISTORY -->

                <!-- Start SAVED SEARCHES  -->
                <div ng-show="section == 'saved-searches'" style="padding-left:24px; padding-right:24px; margin-top:24px; min-height:216px; margin-bottom:60px;"> 
                    <h5><i class="fa fa-history fa-lg" style="margin-right:12px;"></i><span class="text-primary">Saved Articles</span></h5>
                    <table style="width:100%">
                        <tr style="border-bottom: 2px solid #ccc;">
                            <th style="width:60%;">Title</th>
                            <th style="width:10%; text-align:center;">View Article</th>       
                            <th style="width:30%; text-align:right; padding-right:12px">Remove</th>
                        </tr>
                        <tr ng-repeat = "pmid in device.saved track by $index">
                            <td style="padding:12px;">{{articles[pmid]['title']}}</td>
                            <td align="right"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}"><i style="width:24px;"class="fa fa-file fa-lg" style="margin-right:12px;"></i></a></td>      
                            <td><button ng-click="removeArticle($index)" type="button" class="btn btn-danger btn-xs" style= "margin:12px; float:right"><i style="width:24px;"class="fa fa-trash fa-lg" style="margin-right:12px;"></i> </button></td>
                        </tr>
                    </table>
                </div>
                <!-- END SAVED ARTICLES --> 
                
            </div>
            <!-- END SETTING DIVS -->
        
            <!-- LEFT MENU -->
            <div class="col-md-3 col-md-pull-9 sep-top-2x" style="cursor:default">
                <h5 class="widget-title upper sep-bottom-xs">Categories</h5>
              <ul style="cursor:pointer"class="widget widget-cat">
                <li class="cat-item" ng-click="updateSection('account-information')"><a class="upper"><i class="fa fa-user fa-lg" style="margin-right:12px;"></i>Profile&nbsp;<span class="badge"></span></a></li>
                <li class="cat-item" ng-click="updateSection('search-history')"><a  class="upper"><i class="fa fa-search fa-lg" style="margin-right:12px;"></i>Search History&nbsp;<span class="badge"></span></a></li>
                <li class="cat-item" ng-click="updateSection('saved-searches')" ><a class="upper"><i class="fa fa-history fa-lg" style="margin-right:12px;"></i>Saved Articles&nbsp;<span class="badge"></span></a></li>
              </ul>
            </div>
            <!-- END LEFT MENU -->

            
        </div>


        <!-- NAV BAR PARTIAL -->
        {{>nav}}


      <!-- Start Footer section-->
      <footer id="footer">
        <div class="copyright sep-top-xs sep-bottom-xs" style="width:100%;">
          <div class="container">
            <div class="row">
              <div class="col-md-12"><small>&copy PubSavvy</small></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer section-->


    </div>
    <script src="scripts/vendor/jquery.js"></script>
    <script src="scripts/vendor/queryloader2.min.js"></script>
    <script src="scripts/vendor/owl.carousel.js"></script>
    <script src="scripts/vendor/jquery.ba-cond.min.js"></script>
    <script src="scripts/vendor/jquery.slitslider.js"></script>
    <script src="scripts/vendor/idangerous.swiper.js"></script>
    <script src="scripts/vendor/jquery.fitvids.js"></script>
    <script src="scripts/vendor/jquery.countTo.js"></script>
    <script src="scripts/vendor/TweenMax.min.js"></script>
    <script src="scripts/vendor/ScrollToPlugin.min.js"></script>
    <script src="scripts/vendor/jquery.scrollmagic.min.js"></script>
    <script src="scripts/vendor/jquery.easypiechart.js"></script>
    <script src="scripts/vendor/jquery.validate.js"></script>
    <script src="scripts/vendor/wow.min.js"></script>
    <script src="scripts/vendor/jquery.placeholder.js"></script>
    <script src="scripts/vendor/jquery.easing.1.3.min.js"></script>
    <script src="scripts/vendor/jquery.waitforimages.min.js"></script>
    <script src="scripts/vendor/jquery.prettyPhoto.js"></script>
    <script src="scripts/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="scripts/vendor/isotope.pkgd.min.js"></script>
    <script src="scripts/vendor/jquery.fillparent.min.js"></script>
    <script src="scripts/vendor/raphael-min.js"></script>
    <script src="scripts/vendor/bootstrap.js"></script>
    <script src="scripts/vendor/jquery.bootstrap-touchspin.min.js"></script>
    <script src="scripts/vendor/bootstrap-slider.js"></script>
    <script src="scripts/vendor/bootstrap-rating-input.js"></script>
    <script src="scripts/vendor/bootstrap-hover-dropdown.min.js"></script>
    <script src="scripts/jquery.gmap.min.js"></script>
    <script src="scripts/circle_diagram.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>