<!DOCTYPE html>
<html class="no-js">
  <head>
    {{>head}}
  </head>



  <body ng-app="PubSavvySwipe" ng-controller="HomeController" style="padding:20px" ng-init="init()">
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      <!-- NAV BAR PARTIAL -->
      {{>nav}}
    
      <!-- Start Portfolio section-->
      <section id="portfolio" class="sep-top-3x">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h4 class="upper wow flipInX">PubSavvy PubMed</h4>
              <img style="width:200px" src="/admin/img/history.png"/>
            </div>
            <div class="col-md-4">
              <div class="section-title">
                <h2 class="bordered-left bordered-right upper wow flipInX">PubSavvy Apps</h2>
                <p class="lead wow flipInX">
                  Frame Research brings you two apps for powerful medical search: PubSavvy PubMed Search and PubSavvy Swipe. These apps, featured right, enable a new way to discover medical journals. PubSavvy Swipe, our newest addition to the PubSavvy family, features a revised elegant interface for reading through and discovering medical journals.
                </p>
                <br/>
              </div>
            </div>
            <div class="col-md-4">
              <img style="width:200px" src="/admin/img/history.png"/>
              <br/><br/>
            </div>
          </div>
        </div>
        <div class="bg-primary sep-top-sm sep-bottom-sm">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <p class="lead x2 light wow bounceInLeft">Available now in the App Store</p>
              </div>
              <div class="col-md-4">
                <a href="#" target="_blank" class="wow bounceInRight"><img style="padding-left:20px;height:60px" src="/admin/img/download.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Start right section-->
      <section class="sep-top-2x sep-bottom-2x">
        <div class="container">
          <div class="row"></div>
          <div class="row">
            <div class="col-md-6">
              <div data-wow-delay=".3s" class="wow bounceInLeft"><img src="img/ipad_slide.jpg" alt="" class="img-responsive"></div>
            </div>
            <div class="col-md-6">
              <div data-wow-delay=".3s" class="wow bounceInRight">
                <h3 class="upper">Search smarter, not harder</h3>
                <p class="lead">
                  Search thousands of biomedical journals at the same time, using PubSavvy's useful interface and the power of the National Library of Medicine's PubMed database. PubSavvy PubMed Search lets you access over 23 million journal abstracts indexed in PubMed/MEDLINE, using integrated tools and smart shortcuts developed by an expert searcher. Read about how PubSavvy's features help you screen through this wealth of information quickly and effectively.
                </p>
                <p class="lead">
                  Version 3.1 now available for iPad, iPhone, and iPodTouch. If you have multiple devices, turn on iCloud support to sync your search history and article collections across devices.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End right section-->

      <!-- Start About section-->
      <section class="section-gray sep-top-2x sep-bottom-2x">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div data-wow-delay="0.3s" class="text-center wow bounceInLeft">
                <h3 class="upper">Powered by PubSavvy</h3>
                <p class="lead">
                  PubSavvy Apps give you powerful search tools at your fingertips. Our apps seamlessly integrate medical journals into a single location for discovery.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 sep-top-2x icon-gradient">
              <div class="icon-box icon-horizontal icon-lg">
                <div data-wow-delay=".2s" class="icon-content img-circle wow bounceInUp"><i class="fa fa-lightbulb-o"></i></div>
                <div class="icon-box-content">
                  <h5 class="upper">Running a New Search</h5>
                  <p>
                    PubSavvy is the only PubMed search app to offer a custom keyboard interface, so that commonly used entries are not buried 2 or 3 screens down on your iPhone standard keyboard
                    </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 sep-top-2x icon-gradient">
              <div class="icon-box icon-horizontal icon-lg">
                <div data-wow-delay=".3s" class="icon-content img-circle wow bounceInUp"><i class="fa fa-history"></i></div>
                <div class="icon-box-content">
                  <h5 class="upper">Search History</h5>
                  <p>
                    PubSavvy saves your search history, even when you are not connected to the internet. Unlike search histories on the PubMed website which can expire after a few hours, PubSavvy search terms are stored on your device.   
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 sep-top-2x icon-gradient">
              <div class="icon-box icon-horizontal icon-lg">
                <div data-wow-delay=".4s" class="icon-content img-circle wow bounceInUp"><i class="fa fa-filter"></i></div>
                <div class="icon-box-content">
                  <h5 class="upper">Refine Search</h5>
                  <p>
                    Because the database is so comprehensive, PubMed searches often return many more citations than the user intended. PubSavvy helps you to refine your search with pre-set limits.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 sep-top-2x icon-gradient">
              <div class="icon-box icon-horizontal icon-lg">
                <div data-wow-delay=".5s" class="icon-content img-circle wow bounceInUp"><i class="fa fa-file-o"></i></div>
                <div class="icon-box-content">
                  <h5 class="upper">View Full Text PDFs</h5>
                  <p>
                    PubSavvy allows you to view and email full text pdfs for open access journals and those with subscriptions held by your institution.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About section-->
      
      <!-- Start team section-->
      <section class="sep-top-2x sep-bottom-2x">
        <div class="container">
          <h4 class="upper">Brought to you by Frame Research</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="sep-top-xs sep-bottom-sm">
                <div class="team-photo"><img style="border:2px solid #ddd;border-radius:6px" src="/admin/img/diana.JPG" class="img-responsive">
                </div>
              </div>
              <div class="team-name">
                <h5 class="upper">Diana Frame</h5><span>Founder, MPH</span>
              </div>
              <p>
                The founder of Frame Research and a resident of Brooklyn, NY, Diana Frame has 15 years of experience in evidence-based medicine research, primarily systematic literature review. She has advised decision makers at academic centers as well as pharmaceutical, biotechnology, and medical device clients. 
              </p>
            </div>
          </div>
          <br/><br/>
          <a href="http://www.frameresearch.com" target="_blank"><img src="/admin/img/frame-logo.jpg"/></a>
        </div>
      </section>
      <!-- End team section-->
      
      
      <!-- Start call to action section-->
      <section class="call-to-action bg-primary sep-top-md sep-bottom-md">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h5 class="action-title upper light">DOWNLOAD PUBSAVVY IN THE APP STORE</h5>
            </div>
            <div class="col-md-3 text-right"><a href="#" class="btn btn-light btn-bordered btn-lg">DOWNLOAD</a></div>
          </div>
        </div>
      </section>
      <!-- End call to action section-->

      <!-- Start Footer section-->
      {{>footer}}
      <!-- End Footer section-->

    </div>
    {{>scripts}}
  </body>
</html>