<!DOCTYPE html>
<html class="no-js">
  <head>
    {{>head}}
  </head>





  <body ng-app="PubSavvySwipe" ng-controller="SearchController" ng-init="init()">
   <div class="loading-overlay" ng-show="loading">
      <div spinner spin="loading"></div>
    </div>
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      <!-- Start Nav Section-->
      {{>nav}}
      <!-- Start header Section-->
      <section style="background-image: url('img/intro-home4.jpg');" class="header-section fading-title parallax">
        <div class="section-shade sep-top-5x sep-bottom-3x">
          <div class="container">
            <div class="section-title upper light">
              <h2 class="small-space">Search on site</h2>
              <p class="lead">Enter your search terms below</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
      <!-- Start Portfolio Detail section-->
      <section class="sep-bottom-2x">
        <div class="container">
          <div class="row">
            <!-- start main content-->
            <div class="col-md-9 col-md-push-3 sep-top-2x">
              <!-- start search form-->
              <div class="input-group theme-form-group"><span class="input-group-btn">
                  <button ng-click="search('0')" type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search fa-2x"></i></button></span>
                <input ng-keyup="$event.keyCode == 13 ? search('0') : null" ng-model="terms" type="text" placeholder="Search on site" class="form-control input-lg">
              </div>
              <!-- end search form-->
              <div class="sep-top-md">
                <p class="lead text-muted">Search results for:&nbsp;<strong>{{ terms.toString() }}</strong></p>
                <p class="lead text-muted"># Results:&nbsp;<strong>{{ count }}</strong></p>
              </div>
              <!-- start accordion group-->
              <div class="sep-top-xs">
                <div class="accordion-group">
                  <!-- start accordion item-->
                  <div ng-repeat="result in results track by $index" class="accordion-item panel">
                    <h5 class="accordion-heading"><a href="#">{{ result['title'] }}</a></h5>
                    <div>
                      <h6>PMID: {{ result['pmid'] }}&nbsp;&nbsp;Date: {{ result['date'] }}&nbsp;&nbsp;Journal: {{ result['journal']['title'] }}</h6>
                      <h6>Authors:</h6>
                      <h6 ng-repeat="author in result['authors'] track by $index">{{ author.firstName }}&nbsp;{{ author.lastName }}</h6>
                    </div>
                    <div class="accordion-body">
                      <p class="lead">
                        {{ result['abstract'] }}
                      </p>
                    </div>
                  </div>
                  <!-- end accordion item-->
                </div>
              </div>
              <!-- end accordion group-->
              <!-- start pagination-->
              <div class="sep-top-md text-center">
                <ul class="pagination pagination-beads">
                  <li ng-click="search('0')" class="active"><a href="#">1</a></li>
                  <li ng-click="search(1*results.length)"><a href="#">2</a></li>
                  <li ng-click="search(2*results.length)"><a href="#">3</a></li>
                  <li ng-click="search(3*results.length)"><a href="#">4</a></li>
                  <li ng-click="search(4*results.length)"><a href="#">5</a></li>
                  <li ng-click="search(5*results.length)"><a href="#">6</a></li>
                  <li ng-click="search(6*results.length)"><a href="#">7</a></li>
                </ul>
              </div>
              <!-- end pagination-->
            </div>
            <!--end main content-->
            
          </div>
        </div>
      </section>
      <!-- Start call to action section-->
      <section class="call-to-action bg-primary sep-top-md sep-bottom-md">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h5 class="action-title upper light">HAVE AN IDEA? WE’RE HERE TO HELP YOU MANAGE YOUR WORK</h5>
            </div>
            <div class="col-md-3 text-right"><a href="contact-us.html" class="btn btn-light btn-bordered btn-lg">Contact us</a></div>
          </div>
        </div>
      </section>
      <!-- End call to action section-->
      <!-- Start Footer section-->
      <footer id="footer">
        <div class="inner sep-bottom-md">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg"><img src="img/logo-white.png" alt="" class="logo"><small class="sep-top-xs sep-bottom-md">Dolor church-key veniam, fap Bushwick mumblecore irure Vice consectetur 3 wolf moon sapiente literally quinoa.</small>
                  <h6 class="upper widget-title">Stay connected</h6>
                  <ul class="social-icon sep-top-xs">
                    <li><a href="#" class="fa fa-github fa-lg"></a></li>
                    <li><a href="#" class="fa fa-twitter fa-lg"></a></li>
                    <li><a href="#" class="fa fa-facebook fa-lg"></a></li>
                    <li><a href="#" class="fa fa-google-plus fa-lg"></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Latest blog post</h6>
                  <ul class="widget-post sep-top-xs">
                    <li><span class="date-post">17<small class="upper">apr</small></span><a href="blog-detail.html" class="title-post">Jheni and Alessandra on the road</a><small><a href="blog-detail.html#comments">5 comment</a></small></li>
                    <li><span class="date-post">17<small class="upper">apr</small></span><a href="blog-detail.html" class="title-post">Donec Suscipit Dim Euismods</a><small><a href="blog-detail.html#comments">5 comment</a></small></li>
                    <li><span class="date-post">17<small class="upper">apr</small></span><a href="blog-detail.html" class="title-post">How Videos can help promote your business</a><small><a href="blog-detail.html#comments">5 comment</a></small></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Visit Us</h6>
                  <ul class="widget-address sep-top-xs">
                    <li><i class="fa fa-map-marker fa-lg"></i><small>Elizabeth St, Melbourne, Victoria<br>3000, Australia</small></li>
                    <li><i class="fa fa-phone fa-lg"></i><small>(+39) 123-456-789 /<br>(+39) 123-456-789</small></li>
                    <li><i class="fa fa-envelope fa-lg"></i><small><a href="#">info@ottaviostudios.com /</a><br><a href="#">support@ottaviostudios.com</a></small></li>
                    <li><i class="fa fa-clock-o fa-lg"></i><small>Mon / Friday<br>09:00 - 13.00 / 14:00 - 18:00</small></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Flickr Photostream</h6>
                  <div class="flickr_container sep-top-xs">
                    <div id="flickr_badge_image1" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14983708011/"><img width="75" height="75" title="Collis does the ice bucket challenge" alt="Una foto su Flickr" src="http://farm4.staticflickr.com/3923/14983708011_6bcbba0e2c_s.jpg"></a></div>
                    <div id="flickr_badge_image2" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14596923138/"><img width="75" height="75" title="Justin 05" alt="Una foto su Flickr" src="http://farm6.staticflickr.com/5555/14596923138_d4d46d271c_s.jpg"></a></div>
                    <div id="flickr_badge_image3" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14760569666/"><img width="75" height="75" title="Justin 04" alt="Una foto su Flickr" src="http://farm4.staticflickr.com/3909/14760569666_7c6c02da27_s.jpg"></a></div>
                    <div id="flickr_badge_image4" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14783568265/"><img width="75" height="75" title="Justin 03" alt="Una foto su Flickr" src="http://farm6.staticflickr.com/5590/14783568265_90657d440f_s.jpg"></a></div>
                    <div id="flickr_badge_image5" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14781214704/"><img width="75" height="75" title="Justin 01" alt="Una foto su Flickr" src="http://farm3.staticflickr.com/2925/14781214704_955df76638_s.jpg"></a></div>
                    <div id="flickr_badge_image6" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14471910420/"><img width="75" height="75" title="Envato Live" alt="Una foto su Flickr" src="http://farm6.staticflickr.com/5548/14471910420_cf12dd0a16_s.jpg"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright sep-top-xs sep-bottom-xs">
          <div class="container">
            <div class="row">
              <div class="col-md-12"><small>Copyright 2014 © Kleis Communication Technologies srl. All rights reserved.</small></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer section-->
      <div id="back_to_top"><a href="#" class="fa fa-arrow-up fa-lg"></a></div>
    </div>
    {{>scripts}}
  </body>
</html>