            <!-- Start BROUGHT TO U BY FRAME RESEARCH section-->
            <section class="bg-secondary">
                <div class="container">
                
                    <div class="row v-align-children" style="text-align: center;">

                        <div class="col-md-6 col-sm-6">
                            <h5 class = "uppercase" style="text-align: ;"> Brought to you by Frame Research </h5>
                            <h4 class="uppercase bold mb0">Diana Frame</h4>
                            <h4 class="uppercase">Founder, MPH</h4>
                            <p>
                                The founder of Frame Research and a resident of Brooklyn, NY, Diana Frame has 15 years of experience in evidence-based medicine research, primarily systematic literature review. She has advised decision makers at academic centers as well as pharmaceutical, biotechnology, and medical device clients. 
                            </p>
                        </div>

                        <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 text-center">
                            <img class="cast-shadow" alt="Screenshot" src="/admin/img/diana.JPG">
                        </div>

                    </div>
                    <!--end of row-->

                </div>
                <!--end of container-->

            </section>
            <!-- End BROUGHT TO U BY FRAME RESEARCH section-->