<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
<title>PubSavvy Swipe | Account</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>



    <!-- ANGULAR -->
    <script src="/admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/admin/js/fileupload/angular-file-upload-shim.js"></script>
    <script src='/admin/bower_components/angular/angular.min.js'></script>
    <script src="/admin/bower_components/angular-sanitize/angular-sanitize.min.js"></script> 
    <script src="/admin/bower_components/angular-resource/angular-resource.min.js"></script> 
    <script src="/admin/js/fileupload/angular-file-upload.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    
    <script src='/admin/angular/app.js'></script>

    <script src='/admin/angular/services/restService.js'></script>
    <script src='/admin/angular/services/accountService.js'></script>
    <script src='/admin/angular/services/generalService.js'></script>
    <script src='/admin/angular/services/uploadService.js'></script>

    <script src='/admin/angular/controllers/autosearch.js'></script>
    <script src='/admin/angular/controllers/home.js'></script>
    <script src='/admin/angular/controllers/search.js'></script>
    <script src='/admin/angular/controllers/account.js'></script>

    </head>

    <body ng-app="PubSavvySwipe" ng-controller="AccountController" ng-init="init()">
        <div class="nav-container">
            <a id="top"></a>
            <nav>
                <div class="nav-bar">
                    <div class="module left">
                        <a href="index.html">
                            <img class="logo logo-light" alt="Foundry" src="img/pubsavvy-logo.png" />
                            <img class="logo logo-dark" alt="Foundry" src="img/pubsavvy-logo.png" />
                        </a>
                    </div>
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group right">
                        <div class="module left">
                            <ul class="menu">
                                <li title="Portfolio"id="menu_item_Portfolio" data-ref="#"class="">
                                    <a href="/admin/home">
                                        About
                                    </a>
                                    
                                </li>
                                <li title="Portfolio"id="menu_item_Portfolio" data-ref="#"class="">
                                    <a href="/admin/faqs">
                                        FAQ
                                    </a>
                                    
                                </li>
                                <li ng-show="profile.id != null" title="Portfolio"id="menu_item_Portfolio" data-ref="#" class="">
                                    <a ng-show="profile.id != null" href="/admin/search-pubmed">
                                        Search
                                    </a>
                                    
                                </li>
                                <li ng-show="profile.id != null" title="Portfolio" id="menu_item_Portfolio" data-ref="#" class="">
                                    <a ng-show="profile.id != null" href="/site/account">
                                        Account
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <!--end of menu module-->

                    <div class="module right">
                        <a ng-show="profile.id == null" class="btn btn-sm" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                    </div>
                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>



        <div class="main-container">
            
            <!-- ACCOUNT BANNER -->
            <section class="image-bg bg-dark parallax overlay pt140 pb140 pt-xs-40 pb-xs-40">
                <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 98px, 0px); background: url(file:///Users/sarahalder/Development/pubsavvyswipe/public/template/img/vent3.jpg);">
                    <img alt="Background Image" class="background-image" src="img/account-background-2.png" style="display: none;">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h2><img style="width:80px;height:80px;border-radius:40px;border:2px solid #ddd; margin-right:24px;" src="https://media-service.appspot.com/site/images/<%profile.image%>?crop=120"> </h2>
                            <h2 class="uppercase mb8">Manage Account</h2>
                            <p class="lead mb40">Manage your account information and your stored data.</p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!-- END ACCOUNT BANNER -->




<div class="container">

            <div class="col-md-3 hidden-sm pull-left" style="margin-top:2em;">
                            <div class="widget">
                                <h6 class="title">Options</h6>
                                <hr>
                                
                                     <a href="" class="upper" ng-click="updateSection('account-information')">Profile&nbsp;</a><br>
                                     <a href="" class="upper" ng-click="updateSection('search-history')">Search History&nbsp;</a><br>
                                     <a href="" class="upper" ng-click="updateSection('saved-searches')">Saved Searches &nbsp;</a><br>

                            </div>
                            <div class="widget">
                                <h6 class="title">Reccomended </h6>
                                <hr>
                                <ul ng-repeat = "(pmid, article) in relatedArticles track by $index" class=" recent-posts">
                                    <li>
                                        <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/<%pmid%>"><%relatedArticles[pmid]['title']%></a>
                                        <span class="date"><%relatedArticles[pmid]['journal']['title']%></span>
                                    </li>

                                </ul>
                            </div>
                        </div>

 
            <!-- START SETTING DIVS -->
            <div class="col-md-9 sep-top-2x">

                <!-- Start ACCOUNT INFORMATION -->


                <div ng-show="section == 'account-information'" style=" margin-top:24px; min-height:216px"> 


                    <h4 class="uppercase" style="margin-right:12px;">Account Information</h4>
                    <div style="padding:12px">



                        <div style="min-height:120px; margin-bottom:36px;" class ="section" ng-file-drop="onFileSelect($files, 'image', 'images')">
                            
                            <img style="width:120px;height:120px;border-radius:60px;border:2px solid #ddd; margin-right:20px" src="https://media-service.appspot.com/site/images/<%profile.image%>?crop=120" align="left"><br><p class= "uppercase mb16" style="margin-top: 25px;"> To update your profile image, drag and drop here <br />
                            </p>
                            <br>
                        </div>

                        <h5 style="margin-bottom: 0;" class="uppercase mb16">First Name</h5><br>
                        <input ng-model="profile.firstName" type="text" placeholder="First Name"  class= "form-control input-lg ng-pristine ng-valid">
                        <br />
                        <h5 style="margin-bottom: 0;" class="uppercase mb16">Last Name</h5><br>
                        <input ng-model="profile.lastName" type="text" placeholder="Last Name"  class= "form-control input-lg ng-pristine ng-valid"><br />
                        <h5 style="margin-bottom: 0;" class="uppercase mb16">Specialty</h5><br>
                        <input ng-model="profile.specialty" type="text" placeholder="Specialty"  class= "form-control input-lg ng-pristine ng-valid"><br/>
                    </div>                    


                    <h4 class="uppercase" style="margin-right:12px;">Contact Information</h4>
                    <div style="padding:12px">
                        <h5 style="margin-bottom: 0;" class="uppercase mb16">Email</h5><br>
                        <input ng-model="profile.email" type="text" placeholder="Email" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                        <h5 style="margin-bottom: 0;" class="uppercase mb16">Phone Number</h5><br>
                        <input ng-model="profile.phone" type="text" placeholder="(###) - ### - ####" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                    </div>


                    <h4 class="uppercase" style="margin-right:12px;">Update Your Password</h4>

                    <div style="padding:12px">
                        <h5 style="margin-bottom: 0;" class="uppercase mb16">New Password</h5><br>
                        <input ng-model="newPassword" type="password" placeholder="New Password" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                        <h5 style="margin-bottom: 0;" class="uppercase mb16">Confirm Password</h5><br>
                        <input ng-model="confirmPassword" type = "password" placeholder = "New Password" style="padding-left:6px; margin-top:6px" class= "form-control input-lg ng-pristine ng-valid"><br />
                    </div>

                    <br>
                    <br>
                    <div style="width:194px; margin:auto;">

                    <a ng-click="update()" align="center" class="btn" >Update Profile</a>
                <br /><br />
            </div>
                </div>
                <!-- END ACCOUNT INFORMATION -->





                <!-- Start SEARCH HISTORY  -->
                <div ng-show="section == 'search-history'" style="padding-left:24px; padding-right:24px; margin-top:24px; min-height:216px; margin-bottom:60px;"> 
                    <h5><i class="fa fa-search fa-lg" style="margin-right:12px;"></i><span class="text-primary">Search History</span></h5>
                    
                    <table style="width:100%">
                        <tr style="border-bottom: 2px solid #ccc;">
                            <th style="width:50%;">Term</th>
                            <th style="width:20%; text-align:center">Result Count</th>     
                            <th style="width:30%; text-align:right; padding-right:12px">View Results</th>
                        </tr>
                        <tr ng-repeat = "(key, value) in device.searchHistory track by $index" >
                            <td><%key%></td>
                            <td align="center"><span class="badge"><%generalService.formattedNumber(value['count'])%></span></td>
                            <td><button ng-click="redirect(key)" type="button" class="btn btn-primary btn-xs" style= "margin:12px; float:right"><i style="width:24px;"class="fa fa-search fa-lg" style="margin-right:12px;"></i> Search</button></td>
                        </tr>
                    </table>


                </div>
                <!-- END SEARCH HISTORY -->

                <!-- Start SAVED SEARCHES  -->
                <div ng-show="section == 'saved-searches'" style="padding-left:24px; padding-right:24px; margin-top:24px; min-height:216px; margin-bottom:60px;"> 
                    <h5><i class="fa fa-history fa-lg" style="margin-right:12px;"></i><span class="text-primary">Saved Articles</span></h5>
                    <table style="width:100%">
                        <tr style="border-bottom: 2px solid #ccc;">
                            <th style="width:60%;">Title</th>
                            <th style="width:10%; text-align:center;">View Article</th>       
                            <th style="width:30%; text-align:right; padding-right:12px">Remove</th>
                        </tr>
                        <tr ng-repeat = "pmid in device.saved track by $index">
                            <td style="padding:12px;"><%articles[pmid]['title']%></td>
                            <td align="right"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/<%pmid%>"><i style="width:24px;"class="fa fa-file fa-lg" style="margin-right:12px;"></i></a></td>      
                            <td>
                              <button ng-click="removeArticle($index)" type="button" class="btn btn-danger btn-xs" style= "margin:12px; float:right">
                                <i style="width:24px;"class="fa fa-trash fa-lg" style="margin-right:12px;"></i> 
                              </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END SAVED ARTICLES --> 
                
            </div>
            <!-- END SETTING DIVS -->
        

</div>
            
        </div>
            <!-- End call to action section-->

            {{>footer}}
        </div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/flexslider.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/masonry.min.js"></script>
<script src="js/twitterfetcher.min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scripts.js"></script>
    </body>
</html>