<!doctype html>
<html lang="en">
    <head>
        {{>head}}
    </head>
<body ng-app="PubSavvySwipe" ng-controller="QuestionController" ng-init="init()">
    {{>nav}}

    <div class="main-container">
        
        <section class="image-bg bg-dark parallax overlay pt140 pb140 pt-xs-40 pb-xs-40">
            <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 98px, 0px); background: url(file:///Users/sarahalder/Development/pubsavvyswipe/public/template/img/vent3.jpg);">
                <img alt="Background Image" class="background-image" src="img/account-background-1.png" style="display: none;">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="uppercase mb8">Frequently Asked Questions</h2>
                        <p class="lead mb40">
                            <a href="mailto:info@frameresearch.com?Subject=Question about PubSavvy" target="_top">
                                <span style="font-size:20px;font-weight:600">Email us</span>
                            </a> 
                        if you've got more questions, and we'll do our best to answer
                        </p>
                </div>
                            
            </div>
       <!--end of container-->
        </section>

        <section>
            <div class="container">
                <div class="row">
                <a style="float:right; margin-top: -2em;" class="btn"data-target="#addQuestion" data-toggle="modal" data-dismiss="modal"> Add a Question </a>
                    <div class="col-sm-12 text-center">
                        <h4 class="mb16"> </h4>
                        <p class="lead mb64">
                            
                        </p>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <ul ng-repeat = "question in questions track by $index" class="accordion accordion-2">
                            <li>
                                
                            <div >
                                <input ng-hide="question.hidden =='yes'" ng-blur="updateQuestion(question)" ng-model="question.index" type="text" />
                                <input ng-hide="question.hidden =='yes'" ng-blur="updateQuestion(question)" ng-model="question.question" type="text" />
                                <textarea ng-hide="question.hidden =='yes'" ng-blur="updateQuestion(question)" ng-model="question.answer" type="text" /></textarea>
                                <a ng-hide="question.hidden == 'yes'" ng-click="finishedEditing(question)"class="btn"> Finished Editing </a>
                            </div>

                            <div ng-show="question.visible == 'yes'" class="">
                                <h4 class="inline-block mb0"><p style="display:inline;"><%question.index%>.</p> <%question.question%></h4>
                            </div>
                            <div ng-show="question.visible == 'yes'" style="padding: 2em">
                                <p><%question.answer%></p>
                            </div>
                           
                            <div style="margin-left:1em;">       
                            <a ng-show="question.visible == 'yes'" ng-click="toggleVisibility(question)"class="btn"> Edit </a>
                            <a ng-show="question.visible == 'yes'" ng-click="deleteQuestion(question)"class="btn"> Delete </a>
                            </div>
                    </div>
                            </li>
                        </ul>
                        <!--end of accordion-->
                    </div>
                </div>
                <!--end of row-->
            </div>
                    <!--end of container-->
        </section>

        <div id="addQuestion" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="text-align:center; margin-top: 1em;" class="uppercase mb16">Add A Question</h4>
                  </div>
                  <div class="modal-body">
                    <input ng-model="newQuestion.question" type="text" placeholder="Question">
                    <textarea ng-model="newQuestion.answer" type="text" placeholder="Answer"> </textarea>
                    <input ng-model="newQuestion.index" type="text" placeholder="Position">
                    <a style="text-align:center !important;" class='btn' ng-click="addQuestion()" data-dismiss="modal">Add</a>
                  </div>
                </div>


          </div>
        </div>
    
        

    </div>
    {{>footer}}
    {{>scripts}}
</body>
</html>