<!doctype html>
<html lang="en">
    <head>
        {{>head}}
    </head>

    <body ng-app="PubSavvySwipe" ng-controller="HomeController" ng-init="checkCurrentUser()">
        {{>nav}}
        <div class="main-container">
            
            <!-- Start INTRO section-->
            <section style="margin-bottom: -6em;">
                <div class="container">
                    <div class="row v-align-children">

                        <div class="col-md-6 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform" style="margin-top:16em; text-align:center;">
                            <div class="col-md-6">
                                <img style="margin-right:16px;border-radius:25px;" src="/admin/img/owl2.jpg" />
                            </div>
                            <div class="col-md-6" style="padding:0px">
                                <h2 class="large mb40 mb-xs-16">
                                    <img style="width:280px" src="/site/img/logo.png" />
                                </h2>
                                <h6 class="uppercase mb16">Hook up with PubMed</h6>
                            </div>
                            <div class="clearfix"></div>
                            <p class="lead mb40">
                                <br />
                                Frame Research brings you two apps for convenient, powerful searching of published biomedical research: PubSavvy PubMed Search and PubSavvy Swipe. Both let you access over 25 million journal abstracts indexed in the National Library of Medicine's PubMed database. PubSavvy Swipe, our newest addition to the PubSavvy family, features a revised interface geared towards discovering recent articles you might not have seen.

                            </p>
                            <a target="_blank" href="https://itunes.apple.com/us/app/pubsavvy-swipe/id1045169328?mt=8">
                                <img style="width: 225px;" src="site/img/download.png"/>
                            </a>
                        </div>

                        <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 text-center">
                            <img style="margin-top:-12em;width:70%;padding-top:36px" alt="Screenshot" src="site/img/phone.png" />
                        </div>

                    </div>
                    <!--end of row-->

                </div>
                <!--end of container-->

            </section>
            <!-- End INTRO section-->


            <!-- Start SEARCH SMARTER  section-->
            <section class="image-square left bg-secondary" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd">
                <div class="col-md-6 image">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="admin/img/account-background-3.png" />
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-1 content">
                    <div style="text-align:center;">
                        <img style="border-radius:25px;"class="logo logo-dark" alt="Foundry" src="admin/img/owl.png" />
                        <div style="height: 25px;"></div>
                        <h3>SEARCH SMARTER, <br> NOT HARDER</h3>
                    
                        <p class="mb0">
                            Search thousands of biomedical journals at the same time with PubSavvy PubMed Search, our original full-featured app for iPhone, iPad, and iPod Touch. Run a search and refine it using integrated tools and smart shortcuts developed by an expert searcher. Organize your results quickly and effectively by creating custom Collections for your distinct topics. If you have multiple devices, turn on iCloud support to sync your search history and article collections across devices.
                        </p>
                    </div>
                </div>

            </section>
            <!-- End SEARCH SMARTER section-->


            <!-- Start POWERED BY PUBSAVVY section-->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center" >
                            <h4 class="uppercase mb16">POWERED BY PUBSAVVY</h4>
                            <p class="lead mb64">
                                PubSavvy Apps give you powerful search tools at your fingertips. Our apps seamlessly integrate medical journals into a single location for discovery.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="feature feature-1 boxed">
                                <div class="text-center">
                                    <i class="ti-light-bulb icon"></i>
                                    <h5 class="uppercase">DISCOVER NEW ARTICLES</h5>
                                </div>
                                <p style="text-align:left;">
                                    PubSavvy Swipe’s card-based navigation combines the sex appeal of hookup apps with the rigor of biomedical literature. Browse random articles freshly added to the database, or explore articles similar to those you’ve saved. 
                                </p>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-md-3">
                             <div class="feature feature-1 boxed">
                               <div class="text-center">
                                    <i class="ti-search icon"></i>
                                    <h5 class="uppercase">RUN A NEW SEARCH</h5>
                                </div>
                                <p style="text-align:left;">
                                    Both PubSavvy apps let you easily enter searches using your own keywords, offering a custom keyboard interface with commonly used entries at your fingertips. PubSavvy PubMed Search helps you to refine your search with pre-set limits.
                                </p>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-md-3">
                            <div class="feature feature-1 boxed">
                                <div class="text-center">
                                    <i class="ti-notepad icon"></i>
                                    <h5 class="uppercase">SEARCH HISTORY</h5>
                                </div>
                                <p style="text-align:left;">
                                    PubSavvy saves your search history, so you can quickly re-run even complex searches on favorite topics. Unlike search histories on the PubMed website which can expire after a few hours, PubSavvy search terms are stored on your device. With free registration, PubSavvy Swipe syncs your search history and saved items for access in any web browser. PubSavvy PubMed Search syncs your history, collections, and settings using iCloud. <br> <br>
                                </p>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-md-3">
                            <div class="feature feature-1 boxed">
                                <div class="text-center">
                                    <i class="ti-files icon"></i>
                                    <h5 class="uppercase">VIEW FULL TEXT</h5>
                                </div>
                                <p style="text-align:left;">
                                    Sometimes the title and abstract of an article are only enough to whet your appetite. Both PubSavvy apps allow you to view full text PDFs for open access journals. You can log in via the publisher’s page for journals requiring a subscription. If full text links for an article are not available yet, we'll redirect you to the article’s PubMed page.  <br><br>
                                </p>
                            </div>
                            <!--end of feature-->
                        </div>
                    </div>
                    <!--end of row-->

                </div>
                <!--end of container-->
            </section>
            <!-- End POWERED BY PUBSAVVY section-->




      
            <!-- Start call to action section-->
            
            <section class="call-to-action bg-primary sep-top-sm sep-bottom-sm" >
              
                <div class="container" style="text-align: center;">
                    <div class="row" style="margin-top: -80px; ">
                     <h4 class="uppercase bold mb0" style="text-align:center; padding-bottom: 10px; padding-top: 30px;" >DOWNLOAD PUBSAVVY APPS IN THE APP STORE</h4><br>
                     
                        <div class="col-sm-4 col-md-4 col-md-offset-2" style="text-align: center;margin-top:15px">
                            <a target="_blank" href="https://itunes.apple.com/us/app/pubsavvy-pubmed-search/id398881458?mt=8"> 
                                <img style = "border-radius: 25px;" src="admin/img/owl.png" />
                            </a>
                            <br><br>
                            <a target="_blank" href="https://itunes.apple.com/us/app/pubsavvy-pubmed-search/id398881458?mt=8"> 
                                <img style="width: 220px; " style="margin-bottom: 3em;"src="site/img/download.png"/> 
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4" style="text-align: center; margin-top:15px">
                            <a target="_blank" href="https://itunes.apple.com/us/app/pubsavvy-swipe/id1045169328?mt=8">
                                <img style = "border-radius: 25px;"src="admin/img/owl2.jpg" />
                            </a>
                            <br><br>
                            <a target="_blank" href="https://itunes.apple.com/us/app/pubsavvy-swipe/id1045169328?mt=8"> 
                                <img style="width: 220px; " style="margin-bottom: 3em;"src="site/img/download.png"/> 
                            </a>
                        </div>
                    
                    </div>
                </div>
            </section>


            <!-- End call to action section-->

            {{>footer}}
        </div>

        {{>scripts}}


    </body>
</html>