<!DOCTYPE html>
<html class="no-js">
    <head>
        {{>head}}
        <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    </head>

  <body ng-app="PubSavvySwipe" ng-controller="SearchController" ng-init="init()">

    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      <div class="loading-overlay" ng-show="loading" ng-cloak>
        <div spinner spin="loading"></div>
    </div>
    {{>nav}}
    <div class="page">

    <section class="image-bg bg-dark parallax overlay pt140 pb140 pt-xs-40 pb-xs-40">
          <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 98px, 0px);">
              <img class="background-image" src="img/search.png" style="display: none;">
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 text-left">
                     
                      <h2 class="uppercase mb8">Search</h2>
                      <p class="lead mb40">Enter your search terms below.</p>
                  </div>
              </div>
              <!--end of row-->
          </div>
          <!--end of container-->
      </section>
      <!-- End header Section-->

      <!-- Start Portfolio Detail section-->
      <section class="sep-bottom-2x">
        <div class="container">
          <div class="row">
            
            <div class="col-md-3 hidden-sm hidden-xs ">
                            <div class="widget recommended-articles">
                                <h6 class="title" style="text-transform:none">Related to Your Saved Items </h6>
                                <hr>
                                <ul ng-repeat = "(pmid, article) in relatedArticles track by $index" class=" recent-posts">
                                    <li>
                                        <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/<%pmid%>"><%relatedArticles[pmid]['title']%></a>
                                        <span class="date" style='text-transform: capitalize;'><%relatedArticles[pmid]['journal']['iso']%></span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="tabbed-content text-tabs text-center">
                                <ul class="tabs" style="border-bottom: red;">

                                  <li ng-class="searchClass">
                                    <!-- start main content-->
                                    <div class="tab-title" ng-click="updateSection('search')">
                                        <span id="searchTab" style="text-transform:none">Search</span>
                                    </div>
                                    <div class="tab-content">
                                      
                                      <!-- Start SEARCH  -->
                                      <div ng-show="section == 'search'" style="padding-left:24px; padding-right:24px; margin-top:24px; min-height:216px; margin-bottom:60px;"> 
                                        
                                        <!-- start search form-->
                                        <div class="input-group theme-form-group">
                                          <input ng-keyup="$event.keyCode == 13 ? search('0') : null" ng-model="terms" type="text" class="form-control input-lg">
                                          <span class="input-group-btn">
                                            <button style="margin-left:10px; margin-top:10px;color:white;"ng-click="search('0')" type="submit" class="btn btn-primary btn-sm">Search</button></span>
                                        </div> <br>
                                        <!-- end search form-->
                                        
                                        <div style="text-align:left" ng-show="resultsVisible" class="sep-top-md">
                                          <p class="lead text-muted">Search results for:&nbsp;<strong><% searchTerms.toString() %></strong></p>
                                          <p class="lead text-muted">Number of Results:&nbsp;<strong><% count %></strong></p>
                                        </div>
                                         
                                          <!-- start accordion group-->
                                          <div class="sep-top-xs">
                                            <div class="accordion-group">
                                              <!-- start accordion item-->
                                              <div style="text-align:left" ng-repeat="result in results track by $index" class="accordion-item panel">
                                                <h5 class="accordion-heading"><a href="http://www.ncbi.nlm.nih.gov/pubmed/<%result['pmid']%>" target="_blank"><% result['title'] %></a></h5>
                                                  <p style="display:inline;word-wrap:break-word" ng-repeat="author in result['authors'] track by $index"><% author.firstName.charAt(0) %>.&nbsp;<% author.lastName %>&nbsp;</p>
                                                  <h6><p style="display:inline;"><% result['journal']['iso'] %> <% result['date'] %></p></h6>
                                                  
                                                <div class="accordion-body">
                                                  <p class="lead">
                                                    <% result['abstract'].substr(0,200).concat('...') %>
                                                  </p>
                                                  <p>PMID:&nbsp;<% result['pmid'] %></p>
                                                </div>
                                              </div>
                                              <!-- end accordion item-->
                                            </div>
                                          </div>
                                          <!-- end accordion group-->

                                          <div ng-show="resultsVisible" class="sep-top-md text-center">
                                            <ul style="display:block" class="pagination pagination-beads">
                                              <li ng-click="search('0')" class="active"><a href="#">1</a></li>
                                              <li ng-click="search(1*results.length)"><a href="#">2</a></li>
                                              <li ng-click="search(2*results.length)"><a href="#">3</a></li>
                                              <li ng-click="search(3*results.length)"><a href="#">4</a></li>
                                              <li ng-click="search(4*results.length)"><a href="#">5</a></li>
                                              <li ng-click="search(5*results.length)"><a href="#">6</a></li>
                                              <li ng-click="search(6*results.length)"><a href="#">7</a></li>
                                            </ul>
                                          </div>
                                          <!-- end pagination-->
                                        </div>
                                        <!--end main content--> 
                                    </div>
                                </li>

                                    <li ng-class="historyClass">
                                        <div class="tab-title" ng-click="updateSection('search-history')">
                                            <span style="text-transform:none">Search History</span>
                                        </div>
                                        
                                        <div class="tab-content">

                                            <!-- Start SEARCH HISTORY  -->
                                            <div ng-show="section == 'search-history'" style="padding-left:24px; padding-right:24px; margin-top:24px; min-height:216px; margin-bottom:60px;"> 
                                
                                             <table style="width:100%">
                                    
                                                <tr style="font-family: 'Raleway'; font-weight: 700; letter-spacing: 1px; color: black" ng-repeat = "(key, value) in device.searchHistory track by $index" >
                                                    <td><% shortenString(key) %></td>
                                                    <td align="center"><span><%generalService.formattedNumber(value['count'])%> results (<% value.timestamp | date : 'MMM d yyyy' %>)</span></td>
                                                    <td>
                                                     <a href="" ng-click="redirect(key)" align="center" style="border: 1px solid #47b475;" class="btn-sm" >Search</a>
                                                   </td>
                                                   <td>
                                                     <a href="" ng-click="removeSearch(key)" align="center" class="btn-sm btn-danger" >Remove</a>
                                                   </td>
                                                </tr>                                                
                                            </table>


                                        </div>
                                        <!-- END SEARCH HISTORY -->
                                    </div>
                                </li>
                                
                                <li ng-class="savedClass">
                                    <div class="tab-title" ng-click="updateSection('saved-searches')">
                                        <span style="text-transform:none">Saved Articles</span>
                                    </div>
                                    <div class="tab-content">
                                                                        <!-- Start SAVED SEARCHES  -->
                                        <div ng-show="section == 'saved-searches'" style="padding-left:24px; padding-right:24px; margin-top:24px; min-height:216px; margin-bottom:60px;"> 
                                            <!-- <table style="width:100%">
                                    
                                                <tr style="font-family: 'Raleway'; font-weight: 500; letter-spacing: 1px; color: black; text-align: left; height:300px;" ng-repeat = "pmid in device.saved track by $index">
                                            
                                                    <td style="vertical-align: text-top;"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/<%pmid%>"><%articles[pmid]['title']%></a> </td>
                                            
                                            
                                                    <td style="vertical-align: text-top;"><p style="display:inline; vertical-align: text-top;" ng-repeat= "author in articles[pmid]['authors']"> <% author.lastName %>&nbsp;<% author.firstName.chatAt(0) %></p></td>
                                            
                                            
                                                    <td style = "padding-right:15px; vertical-align: text-top;"><%articles[pmid]['journal']['iso']%></td>      
                                                    <td style="vertical-align: text-top;">
                                                        <a ng-click="removeArticle($index)" align="center" style="border: 2px solid #ec6a6a; vertical-align: text-top;" class="btn" >Remove</a>
                                              
                                                    </td>

                                                </tr>
                                            </table> -->

                                            <!-- start accordion group-->
                                          <div class="sep-top-xs">
                                            <div class="accordion-group">
                                              <!-- start accordion item-->
                                              <div style="text-align:left" ng-repeat="pmid in device.saved track by $index" class="accordion-item panel">
                                                <h5 style="margin-bottom:0px" class="accordion-heading">
                                                    <a ng-click="removeArticle($index)" align="center" style="border: 2px solid #ec6a6a; vertical-align: text-top;" class="btn-sm" >Remove</a>
                                                    <a href="http://www.ncbi.nlm.nih.gov/pubmed/<%pmid%>" target="_blank"><%articles[pmid]['title']%></a>
                                                </h5>
                                                <div>
                                                  <p style="display:inline;word-wrap:break-word" ng-repeat="author in articles[pmid]['authors'] track by $index">&nbsp;<% author.firstName.charAt(0) %>.<% author.lastName %>,</p>
                                                   <p style="display:inline;"><% articles[pmid]['journal']['iso'] %>, <% articles[pmid]['date'] %></p>
                                                </div>
                                                <div class="accordion-body">
                                                  <p style="margin-bottom:0px" class="lead">
                                                    <% articles[pmid]['abstract'].substr(0,200).concat('...') %>
                                                  </p>
                                                  <span>PMID:&nbsp;<% articles[pmid]['pmid'] %></span>
                                                </div>
                                              </div>
                                              <!-- end accordion item-->
                                            </div>
                                          </div>
                                          <!-- end accordion group-->
                                        </div>
                                        <!-- END SAVED ARTICLES --> >
                                    </div>
                                </li>
                              </ul>
                            </div>

                            </div>
                            <!--end of nine col-->
            
          </div>
        </div>
      </section>
      <!-- Start call to action section-->
      <section class="call-to-action bg-primary sep-top-md sep-bottom-md">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h5 class="action-title upper light">HAVE AN IDEA? WE’RE HERE TO HELP YOU MANAGE YOUR WORK</h5>
            </div>
            <div class="col-md-3 text-right"><a href="mailto:info@frameresearch.com" class="btn btn-light btn-bordered btn-lg">Contact us</a></div>
          </div>
        </div>
      </section>
      <!-- End call to action section-->
    </div>

    {{>footer}}
    {{>scripts}}
  </body>
</html>