<!DOCTYPE html>
<html class="no-js">
    <head>
        {{>head}}
        <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    </head>

  <body ng-app="PubSavvySwipe" ng-controller="SearchController" ng-init="init()">
   <div class="loading-overlay" ng-show="loading">
      <div spinner spin="loading"></div>
    </div>
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{>nav}}
    <div class="page">
     

    <section class="image-bg bg-dark parallax overlay pt140 pb140 pt-xs-40 pb-xs-40">
          <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 98px, 0px); background: url(file:///Users/sarahalder/Development/pubsavvyswipe/public/template/img/vent3.jpg);">
              <img alt="Background Image" class="background-image" src="img/search.png" style="display: none;">
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 text-left">
                     
                      <h2 class="uppercase mb8">Search</h2>
                      <p class="lead mb40">Enter your search terms below.</p>
                  </div>
              </div>
              <!--end of row-->
          </div>
          <!--end of container-->
      </section>
      <!-- End header Section-->

      <!-- Start Portfolio Detail section-->
      <section class="sep-bottom-2x">
        <div class="container">
          <div class="row">
            
            <!-- start main content-->
            <div class="col-md-9 col-md-push-2 sep-top-2x">
              <!-- start search form-->
              <div class="input-group theme-form-group">
                <input ng-keyup="$event.keyCode == 13 ? search('0') : null" ng-model="terms" type="text" class="form-control input-lg">
                <span class="input-group-btn">
                  <button style="margin-left:10px; margin-top:10px;color:white;"ng-click="search('0')" type="submit" class="btn btn-primary btn-sm">Search</button></span>
              </div> <br>
              <!-- end search form-->
              <div ng-show="resultsVisible" class="sep-top-md">
                <p class="lead text-muted">Search results for:&nbsp;<strong><% terms.toString() %></strong></p>
                <p class="lead text-muted">Number of Results:&nbsp;<strong><% count %></strong></p>
              </div>
              <!-- start accordion group-->
              <div class="sep-top-xs">
                <div class="accordion-group">
                  <!-- start accordion item-->
                  <div ng-repeat="result in results track by $index" class="accordion-item panel">
                    <h5 class="accordion-heading"><a href="#"><% result['title'] %></a></h5>
                    <div>
                      <h6>PMID:<p style="display:inline;"> <% result['pmid'] %></p></h6>
                      <h6>Date: <p style="display:inline;"><% result['date'] %></p></h6>
                      <h6>Journal: <p style="display:inline;"><% result['journal']['title'] %></p></h6>
                      <h6 style="display:inline;">Authors:</h6>
                      <p style="display:inline;" ng-repeat="author in result['authors'] track by $index"><% author.firstName %>&nbsp;<% author.lastName %></p>
                    </div><br>
                    <div class="accordion-body">
                      <p class="lead">
                        <% result['abstract'] %>
                      </p>
                    </div>
                  </div>
                  <!-- end accordion item-->
                </div>
              </div>
              <!-- end accordion group-->

              <div ng-show="resultsVisible" class="sep-top-md text-center">
                <ul class="pagination pagination-beads">
                  <li ng-click="search('0')" class="active"><a href="#">1</a></li>
                  <li ng-click="search(1*results.length)"><a href="#">2</a></li>
                  <li ng-click="search(2*results.length)"><a href="#">3</a></li>
                  <li ng-click="search(3*results.length)"><a href="#">4</a></li>
                  <li ng-click="search(4*results.length)"><a href="#">5</a></li>
                  <li ng-click="search(5*results.length)"><a href="#">6</a></li>
                  <li ng-click="search(6*results.length)"><a href="#">7</a></li>
                </ul>
              </div>
              <!-- end pagination-->
            </div>
            <!--end main content-->
            
          </div>
        </div>
      </section>
      <!-- Start call to action section-->
      <section class="call-to-action bg-primary sep-top-md sep-bottom-md">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h5 class="action-title upper light">HAVE AN IDEA? WE’RE HERE TO HELP YOU MANAGE YOUR WORK</h5>
            </div>
            <div class="col-md-3 text-right"><a href="contact-us.html" class="btn btn-light btn-bordered btn-lg">Contact us</a></div>
          </div>
        </div>
      </section>
      <!-- End call to action section-->

    </div>
    {{>footer}}
    {{>scripts}}
  </body>
</html>