<footer style="padding:40px" class="footer-1 bg-dark">
    <div class="container " style="text-align: center; color: #fff;">
    	<a target="_blank" href="http://www.frameresearch.com">
        	<span style="font-size:16px" class="sub"> &copy Frame Research</span> 
       	</a>
                  
    </div>
    <div class="container" style="text-align: center; color: #fff;">
    	<a href="mailto:info@frameresearch.com">
	        <i class="ti-email" style="font-size:20px">&nbsp;</i>
	        <span style="font-size:16px" class="sub">info@frameresearch.com</span> 
	    </a>  
	</div>   
</footer>