<footer class="footer-1 bg-dark" style="height: 15px;">
    <div class="container" style="text-align: right; color: #fff;">
        <h6 class="title uppercase" style="text-align: "> &copy PubSavvy</h6> 
        <i style="text-align: " class="ti-email">&nbsp;</i>
        <span style="text-align: " class="sub">hello@pubsavvyswipe.net</span>                
    </div>
</footer>