<meta charset="utf-8">
<title>PubSavvy Swipe</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8">
<link href="site/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="site/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
<link href="site/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
<link href="site/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="site/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
<link href="site/css/theme.css" rel="stylesheet" type="text/css" media="all" />
<link href="site/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>



    <!-- ANGULAR -->
    <script src="/admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/admin/js/fileupload/angular-file-upload-shim.js"></script>
    <script src='/admin/bower_components/angular/angular.min.js'></script>
    <script src="/admin/bower_components/angular-sanitize/angular-sanitize.min.js"></script> 
    <script src="/admin/bower_components/angular-resource/angular-resource.min.js"></script> 
    <script src="/admin/js/fileupload/angular-file-upload.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    
    <script src='/admin/angular/app.js'></script>

    <script src='/admin/angular/services/restService.js'></script>
    <script src='/admin/angular/services/accountService.js'></script>
    <script src='/admin/angular/services/generalService.js'></script>
    <script src='/admin/angular/services/uploadService.js'></script>

    <script src='/admin/angular/controllers/autosearch.js'></script>
    <script src='/admin/angular/controllers/home.js'></script>
    <script src='/admin/angular/controllers/search.js'></script>
    <script src='/admin/angular/controllers/account.js'></script>

