<script src="site/js/jquery.min.js"></script>
<script src="site/js/bootstrap.min.js"></script>
<script src="site/js/flexslider.min.js"></script>
<script src="site/js/lightbox.min.js"></script>
<script src="site/js/masonry.min.js"></script>
<script src="site/js/twitterfetcher.min.js"></script>
<script src="site/js/spectragram.min.js"></script>
<script src="site/js/ytplayer.min.js"></script>
<script src="site/js/countdown.min.js"></script>
<script src="site/js/smooth-scroll.min.js"></script>
<script src="site/js/parallax.js"></script>
<script src="site/js/scripts.js"></script>