        <script type="text/javascript" src="/build/vendor.min.js"></script>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/flexslider.min.js"></script>
        <script type="text/javascript" src="/js/lightbox.min.js"></script>
        <script type="text/javascript" src="/js/masonry.min.js"></script>
        <script type="text/javascript" src="/js/twitterfetcher.min.js"></script>
        <script type="text/javascript" src="/js/spectragram.min.js"></script>
        <script type="text/javascript" src="/js/ytplayer.min.js"></script>
        <script type="text/javascript" src="/js/countdown.min.js"></script>
        <script type="text/javascript" src="/js/smooth-scroll.min.js"></script>
        <script type="text/javascript" src="/js/parallax.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>
