        <script type="text/javascript" src="/build/vendor.min.js"></script>
        <script type="text/javascript" src="/admin/js/spin.js"></script>
        <script type="text/javascript" src="/admin/js/knob.js"></script>