      <footer id="footer">
        <div class="inner sep-bottom-md">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg"><img src="/site/img/logo-white.png" alt="" class="logo"><small class="sep-top-xs sep-bottom-md">Terranga is a community for connecting travelers to locals, for more authentic experiences.</small>
                  <h6 class="upper widget-title">Stay connected</h6>
                  <ul class="social-icon sep-top-xs">
                    <li><a href="#" class="fa fa-github fa-lg"></a></li>
                    <li><a href="#" class="fa fa-twitter fa-lg"></a></li>
                    <li><a href="#" class="fa fa-facebook fa-lg"></a></li>
                    <li><a href="#" class="fa fa-google-plus fa-lg"></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Latest blog post</h6>
                  <ul class="widget-post sep-top-xs">
                    <li><span class="date-post">17<small class="upper">apr</small></span><a href="blog-detail.html" class="title-post">Jheni and Alessandra on the road</a><small><a href="blog-detail.html#comments">5 comment</a></small></li>
                    <li><span class="date-post">17<small class="upper">apr</small></span><a href="blog-detail.html" class="title-post">Donec Suscipit Dim Euismods</a><small><a href="blog-detail.html#comments">5 comment</a></small></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Visit Us</h6>
                  <ul class="widget-address sep-top-xs">
                    <li><i class="fa fa-map-marker fa-lg"></i><small>Elizabeth St, Melbourne, Victoria<br>3000, Australia</small></li>
                    <li><i class="fa fa-phone fa-lg"></i><small>(+39) 123-456-789 /<br>(+39) 123-456-789</small></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright sep-top-xs sep-bottom-xs">
          <div class="container">
            <div class="row">
              <div class="col-md-12"><small>Copyright 2015 &copy; Terranga, Inc.</small></div>
            </div>
          </div>
        </div>
      </footer>
