<!-- Start Footer section-->
<footer id="footer">
<div class="copyright sep-top-xs sep-bottom-xs" style="width:100%;">
  <div class="container">
    <div class="row">
      <div class="col-md-12"><small>&copy PubSavvy</small></div>
    </div>
  </div>
</div>
</footer>
<!-- End Footer section-->