      <!-- Start Nav Section-->
      <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">        
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="/" class="navbar-brand"><img src="/admin/img/pubsavvy-logo-white.png" alt="" class="logo-white"><img src="/admin/img/pubsavvy-logo.png" alt="" class="logo-dark"></a>
          </div>
          <div class="navbar-collapse collapse">
            <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
            <ul class="nav yamm navbar-nav navbar-right main-nav">
                    <!-- istanzio un id univoco-->
                    <li><a href="/admin/home" title="Portfolio"id="menu_item_Portfolio" data-ref="#" >About</a></li>                   
                    <li><a href="/admin/faqs" title="Portfolio"id="menu_item_Portfolio" data-ref="#" >FAQ</a></li> 
                    <li><a href="/admin/search-pubmed" title="Portfolio"id="menu_item_Portfolio" data-ref="#" >Search</a></li> 


                    <li ng-show="profile.id != null"><a href="/site/account" title="Portfolio"id="menu_item_Portfolio" data-ref="#" >Account</a></li> 

                    <li ng-show="profile.id == null"><a href="#" data-toggle="modal" data-target="#loginModal">Log In</a></li>   

                    <li ng-show="profile.id != null "><a class="btn btn-sm" ng-click="logout()">Log Out</a></li>  
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Nav Section-->

       <!-- Register Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div style="width:35%;min-width:300px" class="modal-dialog">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:32px 16px 0px 16px;min-height:300px;text-align:center">
          <img style="width:60%" src="/admin/img/pubsavvy-logo.png" /><br />
          <hr />
                    <h4 style="margin-top:30px;text-align:center">Register</h4>
                    <div class="contact-form" style="margin-top:40px;width:90%;margin-left:auto;margin-right:auto">
                        <input ng-model="profile.firstName" type="text" placeholder="First Name" class="form-control" style= "border:1px solid #ccc">
                        <br>
                        <input ng-model="profile.lastName" type="text" placeholder="Last Name" class="form-control" style="border:1px solid #ccc">
                        <br>
                        <input ng-model="profile.email" type="text" placeholder="Email" class="form-control" style="border:1px solid #ccc">
                        <br>
                        <input ng-model="profile.password" type="password" placeholder="Password" class="form-control" style="border:1px solid #ccc">
                    </div>
                    <div class="row" style="background:#fff;border-top:1px solid #ccc;margin-top:36px; padding-top:24px; padding-bottom:24px">
                      
                        <button ng-click="register()" data-toggle="modal" data-target="#registerModal" type="submit" class="btn btn-success btn-large">Sign Up</button>
                        
                    </div>
              </div>
        
            </div>
          </div>
        </div> 

    <!-- Login Modal -->
          <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div style="width:35%;min-width:300px" class="modal-dialog">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:32px 16px 0px 16px;min-height:300px;text-align:center">
            <img style="width:60%" src="/admin/img/pubsavvy-logo.png" /><br />
            <hr />
                      <h4 style="margin-top:30px;text-align:center">Log In</h4>
                      <div class="contact-form" style="margin-top:40px;width:90%;margin-left:auto;margin-right:auto">
                          <input ng-model="loginUser.email" type="text" placeholder="Email" class="form-control" style="border:1px solid #ccc">
                          <br>
                          <input ng-model="loginUser.password" type="password" placeholder="Password" class="form-control" style="border:1px solid #ccc">
                      </div>
                      <div class="row" style="background:#fff;border-top:1px solid #ccc;margin-top:36px; padding-top:24px; padding-bottom:24px">
                        
                          <button ng-click="login()" data-toggle="modal" data-target="#loginModal" type="submit" class="btn btn-success btn-large" style="color:white;">Log in</button>
                          <a> Forgot Password? </a>
                          
                      </div>
                </div>
          
              </div>
            </div>
          </div>        
