      <!-- Start Nav Section-->
      <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">        
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="/admin/home" class="navbar-brand"><img src="/admin/img/pubsavvy-logo-white.png" alt="" class="logo-white"><img src="/admin/img/pubsavvy-logo.png" alt="" class="logo-dark"></a>
          </div>
          <div class="navbar-collapse collapse">
            <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
            <ul class="nav yamm navbar-nav navbar-right main-nav">
                    <!-- istanzio un id univoco-->
                    <li><a href="/admin/home" title="Portfolio"id="menu_item_Portfolio" data-ref="#" >About</a></li>                   
                    <li><a href="/admin/faqs" title="Portfolio"id="menu_item_Portfolio" data-ref="#" >FAQ</a></li> 

                    <li ng-show="currentUser.loggedIn == 'yes'"><a href="/admin/account" title="Portfolio"id="menu_item_Portfolio" data-ref="#" >Account</a></li> 

                    <li ng-show="currentUser.loggedIn == 'no' "><a href="#" data-toggle="modal" data-target="#loginModal">Log In</a></li>  

                    <li ng-show="currentUser.loggedIn == 'no' "><a href="#" data-toggle="modal" data-target="#registerModal">Join</a></li>   


                    <li ng-show="currentUser.loggedIn == 'yes' "><a ng-click="logout()">Log Out</a></li>  
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Nav Section-->